@model Kamala_Eye_Clinic.Models.User
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <script src="~/Content/js/jquery.min.js"> </script>
    <script src="~/Content/js/bootstrap.min.js"> </script>
</head>
<body>
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/User/Login" class="col-lg-12">
                <div class="col-lg-3">
                    <img src="~/Content/images/logo1.png" height="50" width="50">
                </div>
                <div class="col-lg-9">
                    <h3 style="color:orange">Kamala Eye Clinic</h3>
                </div>
            </a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse" style="margin-left:250px">
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/Patient/PatientSelection">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:2%">
                <li>    @Html.ActionLink("Login", "Login", "User")</li>
            </ul>
        </div>
    </nav>
    <div class="container" style="shape-margin:2%;">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-12 ">
                    <div class="col-lg-offset-4 col-lg-4 jumbotron">
                        <div class="col-lg-12 form-group">
                            <h4 align="center">User Login</h4>
                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "User Name", @id = "Username" } })
                            </div>
                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "Password", @placeholder = "Password", @id = "Password" } })
                            </div>
                        </div>
                        <div class="col-lg-12 form-group pull-right">
                            @Html.ActionLink("Forgot Password", "ForgotPassword", "User")
                        </div>
                        <div class="col-lg-12 form-group">
                            @Html.HiddenFor(model => model.CMD)
                            <input type="submit" class="btn btn-block btn-primary" value="login" name="SubmitBtn" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            }
        </div>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
    <footer class="panel-footer navbar-fixed-bottom ">
        <p align="center">&copy; 2014 RUBRAIN. All Rights Reserved | Design by <a href="http://rubrains.com" target="_blank">RUBRAIN</a> </p>
    </footer>
    <script src="~/Content/js/jquery.nicescroll.js"></script>
    <script src="~/Content/js/scripts.js"></script>
</body>
</html>
