@model Kamala_Eye_Clinic.Models.UOM

@{
    ViewBag.Title = "Unit Of Measurement";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row ">
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.unitname, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.unitname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.unitname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-6">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.uom, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.uom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.uom, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 form-group" align="center">
                <hr />
                @Html.HiddenFor(model => model.CMD)
                @if (Model.CMD == null)
                {
                    <input type="submit" class="btn btn-default btn-info " value="Save" name="SubmitBtn" />
                }
                else
                {
                    <input type="submit" class="btn btn-default btn-primary " value="Update" name="SubmitBtn" />
                    @* <input type="submit" class="btn btn-default btn-danger" value="Delete" name="SubmitBtn" />*@
                }
                <input type="reset" class="btn btn-warning " value="Reset" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("  Back to List", "ViewUOM","StockManagement",new { @class= "fa fa-arrow-circle-o-left btn btn-info btn-sm" })
</div>
